body {
  background-color: #E8ECEF;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.col-sm-8 {
  margin: auto;
}

div+p {
  text-align: center;
  color: red;
}

.ac {
  display: inline;
  margin: 25px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #bfcbd6;
  color: #fff;
  font-size: 25px;
  border-width: 0;
}